#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #004802;
    color: white;
    padding: 20px 0;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 20px;
    padding: 0 20px;
}

.me {
    background-color: #004802;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
}

.footer-wrapper img.bridge-logo {
    height: 60px;
    object-fit: contain;
    margin-top: 10px;
}

.footer-wrapper h3 {
    font-weight: 800;
    margin: 10px 0;
    font-size: 1.5rem;
}

.footer-wrapper p {
    margin: 5px 0;
    font-size: 1rem;
}

.footer-wrapper .footer-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
}

.footer-wrapper .footer-logos a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition: transform 0.3s;
}

.footer-wrapper .footer-logos a:hover {
    transform: scale(1.1);
}

.footer-contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
    padding: 10px 0;
}

.footer-contact-info h4 {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.email-button {
    font-size: 0.9rem;
    font-weight: 500;
    color: #ffae00;
    text-decoration: none;
    transition: color 0.3s;
}

.email-button:hover {
    color: #ffd166;
    text-decoration: underline;
}

.call-container p {
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
    transition: color 0.3s;
}

.call-container p:hover {
    color: #ffd166;
}

.footer-contact-info span {
    font-weight: 600;
    color: #ffae00;
}

/* Media Queries for Responsive Design */
@media (min-width: 600px) {
    .footer-wrapper {
        flex-direction: row;
        text-align: left;
    }

    .footer-wrapper img.bridge-logo {
        height: 100px;
    }

    .footer-wrapper .footer-logos {
        justify-content: flex-end;
        flex: 1;
    }

    .footer-contact-info {
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .not-bridge-logo {
        display: none;
    }

    .footer-contact-info a,
    #callButton {
        color: #ffae00;

        text-decoration: underline;
        text-underline-offset: 3px;
    }
}
